# Ignore Python cache files
*.pyc
__pycache__/

# Ignore environment files
.env
venv/

# Ignore IDE-specific files
.vscode/
.idea/
.DS-Store
Thumbs.db

# Ignore system files
AppData/

# Ignore lock files
*.lock

# Ignore binary files
*.bin

.vs/
